// Custom styles.
img { 
    max-width: 80%; 
    vertical-align: middle; 
    margin: 30px; 
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
    webkit-box-shadow: 0 0 40px rgba(0,0,0,0.8);
    moz-box-shadow: 0 0 40px rgba(0,0,0,0.8);
    o-box-shadow: 0 0 40px rgba(0,0,0,0.8);
}


body {
    background: url(https://source.unsplash.com/random/800x600);
    // background: url(http://img2.imgtn.bdimg.com/it/u=3806557979,3233516071&fm=26&gp=0.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

blockquote {
    background: rgba(236, 248, 242, 0.8);
}